@(message: String)

@main("Home") {
    <div class="center jumbotron">
        <h1>Welcome to Twatter</h1>
        <h2>
            This is the homepage for Twatter, where people from
            around the world can compete to see who can be the twattiest
            by posting 140 character 'twats'. To start posting or view other
            peoples posts, <a href="@routes.UserController.newUser()">sign up</a>
            or <a href="@routes.SessionController.newSession()">login</a>.
        </h2>
        <a href='@routes.UserController.newUser()' class="btn btn-lg btn-primary">Sign up now!</a>
    </div>
}
