@(user: model.User)

    @main(user.getUsername) {
        @_search_area()
        <aside class="col-md-3">
            <section class="user_info">
                <h1>@user.getUsername</h1>
                <h2>@user.getEmail</h2>

                @if(UserController.
                      getUserFromSessionID(session.get(SessionController.SESSION_VAR)).getId == user.getId) {
                    <h3>Current Sessions</h3>
                    @views.html.sessions.session_list(user)
                }
            </section>
        </aside>
        @if(UserController.getUserFromSessionID(session.get(SessionController.SESSION_VAR)).getId == user.getId) {
            <form action="@routes.PostController.createPost()" method="post">
                <div class="form-controller col-md-6">
                    <textarea rows="3" id="txtArea" name="message">Tell us your thoughts...</textarea>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        }
        @views.html.posts.post_list(PostController.getPostService.getRecentPosts(user.getUsername, 30))
    }