@()
@import play.mvc.Http.Context.Implicit.session

<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href="@routes.Application.index()" id="logo">twatter</a>
        @if(UserController.getUserFromSessionID(session.get(SessionController.SESSION_VAR)) != null) {
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href='@routes.UserController.showUser()'i>Users</a></li>
                    <li><a href='@routes.SessionController.deleteSession()'>Logout</a></li>
                    <li><a href='@routes.Application.help()'>Help</a></li>
                    <li><a href='@routes.Application.about()'>About</a></li>
                </ul>
            </nav>
        } else {
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href='@routes.SessionController.newSession()'>Login</a></li>
                    <li><a href='@routes.Application.help()'>Help</a></li>
                    <li><a href='@routes.Application.about()'>About</a></li>
                </ul>
            </nav>
        }

    </div>
</header>